:root {
	--main-color: #3cc47c;
	--secondary-color: #ccd1ce;
	--main-bg:#f9f9f9;
	--secondary-bg: #6565e1;
	--svg-primary: invert(80%) sepia(9%) saturate(2723%) hue-rotate(89deg) brightness(82%) contrast(90%);
	--svg-secondary: invert(100%) sepia(46%) saturate(135%) hue-rotate(65deg) brightness(84%) contrast(96%);;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x:  hidden;

}
html {
	scroll-behavior: smooth;
}
/*DEFAULT STYLING FOR SVG IMAGES, FILTER MODIFIES DEFAULT COLOR TO var(--main-color)*/
.svg-img {
	filter: var(--svg-primary);
	height: 1.5em;
	cursor: pointer;
	transition: 0.3s;
	user-select: none
}
.svg-img:hover {
	opacity: 0.7
}
body {
	background: var(--main-bg);
 

}

body::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 50px
};
body::-webkit-scrollbar-track {
	 
} 

body::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

.body-wrapper {
	display: grid;
 
}

/*hambuger*/
.hamburger-wrapper {
	display: none;
	width: calc((100vw / 12) * 2);
	position: fixed;
	z-index: 15;
	overflow: visible;
}
.hamburger {
	margin: 0.5rem;
	cursor:pointer;
	overflow: visible;
	transition: 0.5s ease;

}
.hamburger div {
 	width: 2rem;
 	margin-bottom: 5px;
 	border-radius: 15px;
 	height: 3px;
	background: var(--main-color);
	transition: 0.5s ease;
	z-index: 11;

}
.hambuger div:nth-child(2) {
	transform: 0.3s;
}
.hamburger:hover div {
	opacity: 0.7
}
.hamburger-active {
	transform: translateX(-11px);
  	margin-left: calc((100vw / 12) * 1.75);
}
.hamburger-active div:nth-child(1) {
	transform: rotate(45deg) translateX(11.5px);
	left: 11.5px;
}
.hamburger-active div:nth-child(2) {
	opacity: 0;
}
.hamburger-active div:nth-child(3) {
 
	transform: rotate(-45deg) translateX(11.5px)
}
.navbar-active {
	opacity: 1;	
	display:none;
	top:0;
	position: fixed;
	transition: 0.3s ease;

	 
}
.navbar-active ul {
	width: calc((100vw / 12) * 4);
	background:  rgb(249, 249, 249) !important;
	background:rgba(249, 249, 249, 0.9) !important;
	height: 100vh;
	position: fixed;
	margin-top: 0 !important;
	text-align:center;
	padding-top: 2rem
}	
/*NAVBAR styling*/
.navbar {
	background: blue !important;
	display: grid;
	justify-items: center;
	width: calc(100vw / 12);
	position: fixed;
	z-index: 10;
	user-select: none;
 
}
.navbar ul {
	margin-top: 2rem;
	list-style: none;
	position: fixed;
	
	 
}
.navbar li {
	margin-bottom: 2rem;


}
.navbar a, .navbar a:visited {
	text-decoration: none;
	font-size: 1.5em;
	 
	color: var(--secondary-color);
 
}
.navbar a:hover {
	/*border-bottom: 3px solid var(--main-color);*/
	transition: 0.15s;	
	opacity: 0.7;
  
	color: var(--main-color) 
}
.currentMenuItem a {
	color: var(--main-color) !important;
	transition: 0.5s ease;
}

/*MAIN CONTENT STYLING*/

.content {
	color: var(--main-color);

	overflow-y: hidden
}
section {
	min-height: 100vh;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(11,1fr)
}
.section-wrapper {
	grid-column: 2 / -1;
}

/* HOME SECTION */
.home-wrapper {
	font-size: 2em;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	overflow: hidden
	 
}
.home .greeting {
	grid-column: 3 / -1;
	padding-top: 10rem;

	
}
 
.home h1 {
	font-size: 1.5em;

}

.home-arrow-down {
	grid-column: 1 / -2;
	display: grid;
	justify-content: center;
	align-content: end;

}
.home-arrow-down img {
	margin-bottom: 1rem

}
.home-arrow-down img:hover {
	opacity: 0.7
}
/* ABOUT SECTION */
.about {
	padding-top:  5rem;
	font-size: 1.3em;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background: var(--secondary-bg);
	color: var(--secondary-color);
 
}
.about-wrapper {
	grid-column:  1 / -1;
}
.about-qa {
	grid-column: 2 / -1;
 
}
.about-qa-item {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	margin-top: 2rem
}
.about-qa-item h1 {
	grid-column: 2 / 3;
	font-size: 2em;
	font-weight: 700;
	opacity: 0.5;
	user-select: none
}
 
.about-qa-item p {
	grid-column: 3 / -2;
	font-size: 1.4em
}
.about--why {
	align-items: start
}
 
.custom-shape-divider-top-1635553957 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635553957 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1635553957 .shape-fill {
    fill: var(--main-bg)
}
.about-skills {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
 	background: var(--secondary-bg);
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	align-items: start
}
.skills-headers {
	margin-top: 3rem;
	grid-column: 2 / -2 ;
	opacity: 0.5
}
.skills {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(10, 1fr);

	overflow:  hidden
}
.front-end-skills {
	align-content: start;
	grid-column:  1 / span 2;
	margin-top: 3rem;
	margin-bottom: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;


}
.front-end-skills div, .technologies-skills div, .miscellaneous-skills div {
	width: 100%;
	display: grid;
	justify-items: center;

}
.front-end-skills h1, .technologies-skills h1, .miscellaneous-skills h1 {
	text-align: center;
	grid-column: 1 / -1;
	margin-bottom: 2rem;

}
.front-end-skills div p, .technologies-skills p, .miscellaneous-skills p {
	font-size: 0.8em;
	text-align: center
}
.front-end-skills div img, .technologies-skills div img, .miscellaneous-skills div img {
	height: 2.5em;
	margin-top: 2rem;

}

.technologies-skills {
	align-content: start;
	grid-column:  3 / span 2;
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.miscellaneous-skills {
	align-content: start;
	grid-column:  5 / span 2;
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr ;
}
/* WORK */
.work {
	background: var(--secondary-bg);
}
.work-wrapper {
	grid-column: 1 / -1;
	display: grid;
	color: var(--secondary-color);
	grid-template-columns: repeat(12, 1fr);
}
.work h1 {
	grid-column: 2 / -1	;
	padding-top:5rem;
	font-size: 1.9em;
	margin-bottom: 5rem;
	color: var(--secondary-color)
}

.work .cards-wrapper {
	grid-column:  2 / -1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: space-around;
	overflow:  hidden
	
}
 
.work .card {
	grid-column: span 1;
	display: grid;
	grid-template-rows: 4fr 1fr 3fr 1fr;
	height: 25rem;
	width: 20rem;
	margin-bottom:5rem;
	border-radius: 5	px;
	overflow: hidden;
	background: var(--main-bg);
	border-radius: 3px

}
.card .project-title {
	text-align: center;
	padding-top: 0.5rem;
	color: var(--main-color);
}
.card .project-image {
	background: var(--secondary-bg);
	overflow: hidden;
}
.card .project-description {
	background: none;
	line-height: 1.3em;
	margin: 0 1rem;
}
.card p {
 
	color:black;
	z-index: 4;	
}
.project-image img {
	max-width: 100%;
	max-width: 100%;
	transform: scale(1);
	transition: 0.3s;
	position: relative;
	filter: blur(1px);
	opacity: 0.9
}
.card:hover img  {
	transform: scale(1.1);
	transition: 0.5s;
	opacity: 1;
	filter: blur(0)

}
.card .card-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
 


}
.card-buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary-color);
	font-size: 1.1em;
	text-decoration: none;
	transition: 0.3s;
	justify-items: center;
 

}
.card-buttons a:hover {
	color: var(--main-color);
	 
}
.custom-shape-divider-bottom-1635640761 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1635640761 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 106px;
}

.custom-shape-divider-bottom-1635640761 .shape-fill {
    fill: var(--main-bg)
}
.upper-waves {
	display: grid;
	grid-template-columns: 1fr;
	background: var(--secondary-bg);
	height: 106px;
	width: 100vw;
	overflow:hidden;
}

.lower-waves {
	display: grid;
	grid-template-columns: 1fr;
	background: var(--secondary-bg);
	width: 100vw;
	overflow:hidden;
}


/*CONTACT*/
.contact-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background: var(--main-bg);
 
}
.contact-title {
	grid-column: 2 / -1 ;
	margin-top: 5rem; 
	height: 10rem;
	font-size: 1.2em;
	color: var(--main-color);

}

.online-presence {
	grid-column: 2 / span 2;
	 
}
.online-presence  h2 {
	margin-bottom: 3rem;
	font-weight: 500;
	color: var(--main-color);
}
.online-presence  a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--secondary-color);
	transition: 0.3s;
}
.online-presence div:hover a   {
	color: var(--main-color)
}
.online-presence div:hover img {
	opacity: 0.7;
}
.online-presence div {
	margin-top: 2rem;
}
.online-presence a p {
	margin-left: 1rem;
}
.online-presence div img {     
	height: 3rem;     
}
.contact-form {
	grid-column: span 8;
}
.contact-form label {
	align-self: flex-start;
	margin-left: 20%;
	margin-bottom: 5rem;
	color: var(--main-color);
}
.contact-form form {
	display: flex;
	flex-direction: column;
 	align-items: flex-end;
 	text-align: center;

}
 
.contact-form input {
	min-width:80%;
	border:none;
	background: none;
	border-bottom:2px solid var(--main-color);
	outline: none;
	height: 2rem;
	font-size: 1em;

}
.contact-form textarea {
	min-width: 80%;
	resize: none;
	background: none;
	border: none;
	outline: none;
	font-size: 1em;
	height: 10rem;
 }
 
.contact-form button {
	padding: 0.5rem 2rem;
	background: var(--main-bg);
	color: var(--main-color);
	transition: 0.3s;
	border: 2px solid var(--main-color);
	border-radius: 3px;
	margin-bottom: 2rem;
}
.contact-form button:hover {
	background: var(--main-color);
	color:white;
	cursor: pointer;

}
 
@media screen and (max-width: 1200px) {
	.work .cards-wrapper {
		grid-column:  2 / -1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		overflow:  hidden	
	}
	.waves-svg svg {
		width: 150%;
	}

	.about-qa-item h1 {
		grid-column: 2 / 4;
		 
	}
	 
	.about-qa-item p {
		grid-column: 4 / -2;
	
	}
	.about--who {
		align-items: start
	}
	.front-end-skills, .technologies-skills, .miscellaneous-skills  {
		grid-column: span 5;
	}
	.contact-form textarea, .contact-form input {
		width: 90%;
	}
	.contact-form label {
		margin-left: 10%;
	}
}

@media screen and (max-width: 960px) {
	.navbar {
		width: calc((100vw / 12)*2);
		 
	}		 

	.waves-svg svg {
		width: 200%;
	}
	section {
		display: grid;
		grid-template-columns: repeat(12,1fr)
	}
	.section-wrapper {
		grid-column: 2 / -1;
	}
	.home-arrow-down {
		grid-column: 1 / -1;
		display: grid;
		justify-content: center;
		align-content: end;

	}
	.about-skills {
		grid-column: 1 / -1;
	}

	.work h1 {
		grid-column: 2	 / -1;
	}
	.work .cards-wrapper {
		grid-column:  2 / -1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		overflow:  hidden	
	}
	 
 

}
@media screen and (max-width: 860px) {
		.work .cards-wrapper {
		grid-column:  1 / -1;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		overflow:  hidden	
	}
}
@media screen and (max-width: 768px) {
	.hamburger-wrapper {
		display: block;
	}
	.navbar {
		opacity: 0;	
		top:0;
		position: fixed;
		transition: 0.5s ease;
		margin-left: -25em;
		width: calc((100vw / 12)*4);
	}
 	
	.navbar-active {
		margin-left: 0;
		opacity: 1;
	}
	.front-end-skills, .technologies-skills, .miscellaneous-skills  {
		grid-column: span 10;
	}


	.contact-wrapper {
		grid-template-rows: 1fr 2fr 1fr;

	}
	.contact-form textarea, .contact-form input {
		width: 100%;
	}
	.contact-form label {
		margin-left: 0;
	}
 
	.online-presence {
		grid-row: 3 / span 1;
		grid-column: 2 / -2;
		margin-top: -2rem;
		display: flex;
  		justify-content: space-between;
		flex-wrap: wrap;
		grid-gap: 0
	}
	.online-presence-header {
		flex-basis: 100%;
		margin:0 !important;

	}
	.online-presence div {
		 
	}
	.contact-form {
		grid-row: 2 / span 1;
		grid-column: 2 / -2;

	}
	.contact-form button {
		width: 50%;
		align-self: center
	}

}
@media screen and (max-width: 480px) {
	.hamburger-active {
		transform: translateX(-11px);
	  	margin-left: calc((100vw / 12) * 2.5);
	}
	.navbar {
		width: calc((100vw / 12)*6);
	}
	.navbar ul {
		width: calc((100vw / 12)*6);
		background:rgba(249, 249, 249, 0.9);
		height: 100vh;
		position: fixed;
		margin-top: 0 !important;
		text-align:center;
		padding-top: 4rem

	}	
	.content {
		font-size: 0.6em
	}
	.about-skills div img {
    	height: 3rem;
	}
	.work .card {
		width: 80%;
		height: 30rem;
		grid-template-rows: 4fr 1fr 4fr 1fr;
	}
} 